/* You can add global styles to this file, and also import other style files */
footer{
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.done{
  text-decoration: line-through;
  color: #ccc;
}
